<phoc:param name="Articles" />
<phoc:param name="PageId" />
<phoc:param name="LastPageId" />
<phoc:param name="ACP" />

<phoc:include file="header.html" />
<a href="{phoc:base-url}/"><i class="fas fa-home"></i></a>
<br />
<br />

<phoc:if is="$IsEditing">
    <phoc:param name="CurrentArticle" />
    <h3>Editer un Article</h3>
    <form id="article-form" method="post" action="{phoc:base-url}/_service/edit">
        <input type="hidden" name="id" value="{phoc:out var='$CurrentArticle->Id'}" />
        <input type="hidden" name="redirect" value="/admin" />
        <div class="form-group">
            <label for="title-input">Titre</label>
            <input id="title-input" type="text" name="title" class="form-control" value="{phoc:out var='$CurrentArticle->Title'}" required />
        </div>
        <div class="form-group">
            <label for="body-input"><strong>Message</strong></label><br />
            <textarea id="body-input" name="body" form="article-form" class="form-control">
                <phoc:out var="$CurrentArticle->Body" />
            </textarea>
        </div>
        <button type="submit" class="btn btn-primary">Mettre à Jour</button>
        <button type="button" class="btn btn-warning" style="color: white;" phoc:action="edit-abort">Annuler</button>
    </form>
<phoc:else />
    <h3>Ecrire un Nouvel Article</h3>
    <form id="article-form" method="post" action="{phoc:base-url}/_service/write">
        <div class="form-group">
            <label for="title-input">Titre</label>
            <input id="title-input" type="text" name="title" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="body-input"><strong>Message</strong></label><br />
            <textarea id="body-input" name="body" form="article-form" class="form-control"></textarea>
        </div>
        <button type="submit" name="button" value="save" class="btn btn-primary">Sauvegarder</button>
        <button type="submit" name="button" value="publish" class="btn btn-success">Publier</button>
    </form>
</phoc:if>

<hr />

<div class="row">
    <div class="col-6">
        <h3>Articles Publiés</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Article</th>
                    <th style="text-align: right;">Actions</th>
                </tr>
            </thead>
            <tbody>
                <phoc:for each="$Articles" as="$article">
                    <phoc:def url="\preg_replace('/\s/', '-', $article->Title) . '.' . $article->Id" />
                    <tr>
                        <td id="article-title-{phoc:out var='$article->Id'}">
                            <a href="{phoc:base-url}/article/{phoc:out var='$url'}"><phoc:out var="$article->Title" /></a>
                        </td>
                        <td id="article-actions-{phoc:out var='$article->Id'}" style="text-align: right; color: white;">
                            <phoc:if is="$article->Published">
                                <button type="button" class="btn btn-info" phoc:action="article-unpublish" phoc:val="{phoc:out var='$article->Id'}">Dépublier</button>
                                <phoc:else />
                                <button type="button" class="btn btn-success" phoc:action="article-publish" phoc:val="{phoc:out var='$article->Id'}">Publier</button>
                            </phoc:if>
                            <a href="{phoc:base-url}/admin?article={phoc:out var='$article->Id'}" type="button" class="btn btn-warning" style="color:white;">Editer</a>
                            <button type="button" class="btn btn-danger" phoc:action="article-delete" phoc:val="{phoc:out var='$article->Id'}">Supprimer</button>
                        </td>
                    </tr>
                </phoc:for>
            </tbody>
        </table>
    </div>
    <div class="col-6">
        <h3>Commentaires Signalés</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Article</th>
                    <th>Posté Par</th>
                    <th>Signalé A</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <phoc:for each="$Reports" as="$report">
                    <tr>
                        <td id="report-title-{phoc:out var='$report->Id'}">
                            <a href="{phoc:base-url}/article/*.{phoc:out var='$report->ArticleId'}"><phoc:out var="$report->ArticleTitle" /></a>
                        </td>
                        <td id="report-author-{phoc:out var='$report->Id'}">
                            <phoc:out var="$report->CommentAuthor" /> (<phoc:out var="$report->CommentEmail" />)
                        </td>
                        <td id="report-date-{phoc:out var='$report->Id'}">
                            <phoc:out var="$report->Date" />
                        </td>
                        <td  id="report-actions-{phoc:out var='$report->Id'}" style="text-align: right; color: white;">
                            <phoc:def url="'article/*.' . $report->ArticleId . '#comment-' . $report->CommentId" />
                            <a type="button" class="btn btn-info" href="{phoc:base-url}/{phoc:out var='$url'}">Voir le commentaire</a>
                            <button type="button" class="btn btn-danger" phoc:action="report-delete" phoc:value="{phoc:out var='$report->Id'}">Supprimer le commentaire</button>
                        </td>
                    </tr>
                </phoc:for>
            </tbody>
        </table>
    </div>
</div>

<phoc:include file="nav.html" />

<phoc:include file="footer.html" />