<phoc:param name="Articles" />
<phoc:param name="PageId" />
<phoc:param name="LastPageId" />

<phoc:include file="header.html" />

<phoc:for each="$Articles" as="$article">
    <div>
        <h4>
            <phoc:!-- any PHP expression is valid inside PHOC attributes --/>
            <phoc:def url="\preg_replace('/\s/', '-', $article->Title) . '.' . $article->Id"/>
            <a href="{phoc:base-url}/article/{phoc:out var='$url'}">
                <phoc:out var="$article->Title" />
            </a>
        </h4>
        <small><phoc:out var="$article->Date" /></small>
        <p>
            <phoc:out var="$article->Abstract" />...<br />
            <a type="button" href="{phoc:base-url}/article/{phoc:out var='$url'}" class="btn btn-primary btn-sm active">Lire la suite</a>
        </p>
    </div>
</phoc:for>

<phoc:include file="nav.html" />

<phoc:include file="footer.html" />